body {
    background: url("https://cdn.psychologytoday.com/sites/default/files/field_blog_entry_images/sun-clouds-blue-sky-14641020076aM.jpg") no-repeat;
    background-size: cover;
}
.jumbotron{
    margin: 10% 20%;
}
.btn-group-toggle{
    margin: 0 20px 1px;
}